.navbar{
    padding: 25px 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: rgb(20, 1, 20);

  }


.navbar-brand{
    font-size: 50px;
    color: #fff;
}

.nav-menu>a:hover {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(238, 77, 166),
    0 0 82px rgb(238, 77, 166),
    0 0 92px rgb(238, 77, 166),
    0 0 102px rgb(238, 77, 166),
    0 0 151px rgb(238, 77, 166);
  }


  .nav-menu>a:active {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(238, 77, 166),
      0 0 82px rgb(238, 77, 166),
      0 0 92px rgb(238, 77, 166),
      0 0 102px rgb(238, 77, 166),
      0 0 151px rgb(238, 77, 166);
}